@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,900;1,300;1,600;1,900&family=Poppins:ital,wght@0,300;0,600;0,900;1,300;1,600;1,900&display=swap");
html{
  font-family: "Poppins";
}
header{
  background: rgb(79, 79, 79);
  font-weight: 600;
  font-family: "Montserrat";
  color: rgb(218, 218, 218);
  font-size: 3rem;
  text-align: center;
  border-radius: 1rem;
  letter-spacing: 0.2rem;
}
.page_heading{
  font-size: 2rem;
  padding: .5rem;
}
.introduction{
  margin: 1rem;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  margin-bottom: 0.2rem;
}
b{
  font-weight: 600;
}
.page_link{
  background-color: rgb(246, 246, 246);
  padding: 0.1rem 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
}
code{
  font-family: "Consolas";
}
img{
  margin: 0.5rem;
  border-radius: 0.5rem;
}
table, td, th{
  border: 1px solid black;
}
td, th{
  min-width: 5rem;
  text-align: center;
}